<button id="scroll-to-top" onclick="window.scrollTo(0,0);">
    <svg class="m-auto h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M5 15l7-7 7 7" />
    </svg>
</button>
<footer id="footer">
    <div class="pt-40 px-8 lg:px-36 bg-secondary text-onSecondary">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 lg:gap-20">
            <div>
                <span class="font-bold text-4xl">
                    Our Mission
                </span>
                <br>
                <br>
                <span>
                    Our Mission is to provide customer with premium quality of services with premium quality of
                    experience.
                </span>
            </div>
            <div>
                <span class="font-bold text-2xl">
                    Quick Links
                </span>
                <br>
                <br>
                <ul class="grid grid-cols-2 sm:grid-cols-3 md:block">
                    <li class="p-2">
                        <a href="#">Home</a>
                    </li>
                    <li class="p-2">
                        <a href="https://play.google.com/store/apps/details?id=com.dcdevelopers.nearme">Download App</a>
                    </li>
                    <li class="p-2">
                        <a href="#footer">About</a>
                    </li>
                    <li class="p-2">
                        <a href="#footer">Contact</a>
                    </li>
                </ul>
            </div>
            <div>
                <span class="font-bold text-2xl">
                    Popular Services
                </span>
                <br>
                <br>
                <ul class="grid grid-cols-2 sm:grid-cols-3 md:block">
                    <li class="p-2">
                        <a href="#">Electrician</a>
                    </li>
                    <li class="p-2">
                        <a href="#">Plumber</a>
                    </li>
                    <li class="p-2">
                        <a href="#">Cleaning</a>
                    </li>
                    <li class="p-2">
                        <a href="#">Disinfection</a>
                    </li>
                    <li class="p-2">
                        <a href="#">Painting</a>
                    </li>
                    <li class="p-2">
                        <a href="#">Packers and Movers</a>
                    </li>
                    <li class="p-2">
                        <a href="#">AC Repair</a>
                    </li>
                    <li class="p-2">
                        <a href="#">Repairs and Maintenance</a>
                    </li>
                    <li class="p-2">
                        <a href="#">Carpenter</a>
                    </li>
                    <li class="p-2">
                        <a href="#">Pest Control</a>
                    </li>
                </ul>
            </div>
            <div>
                <span class="font-bold text-2xl">
                    Contact Us
                </span>
                <br>
                <br>
                <span class="flex items-center font-medium text-xl">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="#fff">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4" />
                    </svg> &nbsp;
                    Corporate Office
                </span>
                <span class="pl-8 inline-block">
                    I-101, Parmar Park, Sector No-26, Nigdi Pradhikaran, Pune-411044, Maharashtra.
                </span>
                <br>
                <br>
                <span class="flex items-center font-medium text-xl">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="#fff">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
                    </svg> &nbsp;
                    Phone Number
                </span>
                <span class="pl-8">
                    +91 70301 62525
                </span>
                <br>
                <span class="pl-8">
                    +91 70301 52525
                </span>
                <br>
                <br>
                <span class="flex items-center font-medium text-xl">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="#fff">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg> &nbsp;
                    Email
                </span>
                <span class="pl-8">
                    support@nearmeservices.com
                </span>
                <!-- <br>
                <span class="pl-8">
                    jpratham1809@gmail.com
                </span> -->
            </div>
        </div>
        <br>
        <div class="flex justify-center pt-10 pb-1">
            <span>
                &copy; Copyright - 2021 All Rights Reserved
            </span>
        </div>
        <!-- <div class="flex justify-center pb-10 pt-1">
            <span class="flex"> with &nbsp;
                <img loading="lazy" src="/icons/svgs/heart.svg" class="h-6 w-6" alt="heart">
                &nbsp; <a href="https://linkedin.com/in/pr47h4m"> Pratham Jaiswal </a>
            </span>
        </div> -->
    </div>
</footer>
<script defer>
    let scrollBtn = document.getElementById('scroll-to-top');
    window.onscroll = function () {
        scrollBtn.style.display = (window.scrollY > 350) ? "block" : "none";
    }
</script>