<div class="grid grid-cols-10">
    <div class="col-span-1 hidden sm:block"></div>
    <div class="col-span-10 sm:col-span-8 mx-4 sm:mx-0 text-center">
        <h1 class="text-3xl font-semibold">How We Work</h1>
        <h2 class="text-2xl mt-3">Booking a service is very easy on Nearme, just follow the simple steps.
        </h2>
        <br>
        <div class="grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1 lg:gap-10 md:gap-1">
            <div class="shadow-lg bg-surface rounded-lg lg:m-6 sm:m-4 m-1 md:p-8 sm:p-4 p-2 py-8 flex items-center flex-col">
                <div>
                    <img src="https://app.nearmeservices.com/assets/assets/service_illu/calendar.png"
                        class="h-14 w-14 rounded-full object-contain" alt="<%= imageAltTag %>"
                        title="<%= imageTitle %>">
                </div>
                <div class="text-center">
                    <h2 class="text-2xl mt-3">Book</h2>
                    <span class="text-lg mt-2">
                        Select a service and convenient day and time, then book the service
                    </span>
                </div>
            </div>
            <div class="shadow-lg bg-surface rounded-lg lg:m-6 sm:m-4 m-1 md:p-8 sm:p-4 p-2 py-8 flex items-center flex-col">
                <div>
                    <img src="https://app.nearmeservices.com/assets/assets/service_illu/clean.png"
                        class="h-14 w-14 rounded-full object-contain" alt="<%= imageAltTag %>">
                </div>
                <div class="text-center">
                    <h2 class="text-2xl mt-3">Service</h2>
                    <span class="text-lg mt-2">
                        Our professionals will contact you and provide services.
                    </span>
                </div>
            </div>
            <div class="shadow-lg bg-surface rounded-lg lg:m-6 sm:m-4 m-1 md:p-8 sm:p-4 p-2 py-8 flex items-center flex-col">
                <div>
                    <img src="https://app.nearmeservices.com/assets/assets/service_illu/house.png"
                        class="h-14 w-14 rounded-full object-contain" alt="<%= imageAltTag %>">
                </div>
                <div class="text-center">
                    <h2 class="text-2xl mt-3">Relax</h2>
                    <span class="text-lg mt-2">
                        Relax and tell professionals what you want
                    </span>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="col-span-1  hidden sm:block"></div>
</div>