<br>
<br>
<div class="flex justify-center">
    <h1 class="text-3xl font-bold">Our Happy Clients</h1>
</div>
<div class="flex justify-center">
    <h2 class="text-2xl mt-2">See what our happy clients are saying about our services</h2>
</div>
<br>
<br>
<div class="flex justify-center">
    <section class="wrapper_carousel shadow-md flex flex-col justify-center sm:w-10/12 md:w-4/5 w-11/12 lg:w-3/4"
        role="region" aria-label="testimonial carousel">
        <div class="carousel-data relative overflow-hidden flex items-center justify-center w-full mt-8 mb-8">
            <div class="carousel-item" role="group" aria-label="slide 1 of 5">
                <div class="author-profile">
                    <img src="https://app.nearmeservices.com/assets/assets/testimonials_users/PrashantRamling.jpg">
                </div>
                <p class="text_caption italic my-8 quoted">Absolutely a wonderful experience! Painting work
                    completed as per the given schedule
                    working staffs are also absolutely trustworthy and hardworking and reliable as were the
                    service person who gave the estimates. and very reasonable cost given.</p>
                <span class="caption-author">
                    - Prashant Ramling
                </span>
            </div>
            <div class="carousel-item" role="group" aria-label="slide 2 of 5">
                <div class="author-profile">
                    <img src="https://app.nearmeservices.com/assets/assets/testimonials_users/RanitaKhopekar.jpg">
                </div>
                <p class="text_caption italic my-8 quoted">We have used Homeaxis Nearme Services many times
                    by now and used different services. Every time they surprised us by delivering excellent
                    quality. The professionals are very skilled, on time, and very sincere on their work.
                </p>
                <span class="caption-author">
                    - Ranita Khopekar
                </span>
            </div>
        </div>
        <div class="carousel-indicators flex items-center">
        </div>
        <div class="carousel-controls flex justify-end mt-auto" aria-label="carousel controls">
            <button type="button" class="button_carousel-prev" aria-label="previous"><svg
                    xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M15 19l-7-7 7-7" />
                </svg></button>
            <button type="button" class="button_carousel-next ml-1" aria-label="next"><svg
                    xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M9 5l7 7-7 7" />
                </svg></button>
        </div>
    </section>
</div>
<br>
<br>